data/*.traced
data/*.cleaned
data/*.compressed
data/*.btb
data/*.interpreted
data/*.folded
data/*.svg
data/*.log
data/*.pdf
data/*.csv
data/*.histogram
data/*.durations
data/*/
objects/*.disas
stderr
stdout
unpack
decompress
interpret
test_compress
data/binaries.list
menu.lst
*.swp
*.swo
test_interpret.gdb
test_unpack.gdb
test_compress.gdb
test_decompress.gdb
*.elfdump
*.o
*.d
