*.cleaned
*.compressed
*.btb
*.interpreted
*.interpreted.log
*.folded
*.folded.log
*.svg
*.disas
stderr
stdout
unpack
decompress
interpret
test_compress
data/binaries.list
*.swp
*.swo
test_interpret.gdb
test_unpack.gdb
test_compress.gdb
test_decompress.gdb
*.elfdump
*.o
*.d
